:root {
  --themeOrangeGradient: linear-gradient(180deg,#ff8055 0%,#f2672a 100%);
  --themeBlueGradient: -webkit-gradient(linear,left top,left bottom,from(#2c4d7a),to(#0f2c52));
  --orange: #f2672a;
  --blue: #0f2c52;
  --black: #333;
  --white: #fff;
  --lightGrey: #f5f5f5;
  --defaultGrey: #e6e6e6;
  --grey: #ccc;
  --darkGrey: #666;
}

html {
  font-weight: lighter;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6, p, li {
  font-weight: lighter;
}

b, strong {
  font-weight: 600;
}

.text-nowrap {
  white-space: nowrap;
}

/* Theme bg Color Class */
.bg-grey {
  background: var(--lightGrey);
}

.bgBlueGradient {
  background: var(--themeBlueGradient);
  color: #fff;
}


/* Theme text color class */
.text-blue {
  color: var(--blue);
}

.text-orange {
  color: var(--orange);
}

.text-grey {
  color: var(--darkGrey);
}

/* Default font-size */
.text-banner {
  font-size: 22px;
  font-weight: lighter;
}

/* Default Link Style */
.blueLink {
  color: var(--blue);
}

.blueLink:hover {
  color: var(--orange);
  text-decoration: none;
}

.orangeLink {
  color: var(--orange);
}

.orangeLink:hover {
  color: var(--blue);
  text-decoration: none;
}

.defaultLink {
  color: var(--black);
  text-decoration: none;
}

.defaultLink:hover {
  color: var(--orange);
  text-decoration: none;
}

.urlListItem {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}

.urlListItem .arrowIcon {
  margin-right: 20px;
  vertical-align: middle;
}

/* Default Button */
.btn.btn-primary {
  background: var(--themeBlueGradient);
  border-color: var(--blue);
}

.btn.btn-primary:hover {
  background: var(--white);
  border-color: var(--orange);
  color: var(--orange);
}

.btn.btn-success {
  background: var(--themeOrangeGradient);
  border-color: var(--orange);
}

.btn.btn-success:hover {
  background: var(--white);
  border-color: var(--blue);
  color: var(--blue);
}

.btn.btn-default {
  background: var(--defaultGrey);
  border-color: var(--defaultGrey);
  color: var(--black);
}

.btn.btn-icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  padding: 0;
  font-size: 13px;
}

/* Navbar */
.navbar-top {
  background-color: var(--white);
  position: sticky;
  top: 0;
  z-index: 5;
}

.bar1 {
  background: var(--lightGrey);
}

.bar1Btn {
  display: inline-block;
  vertical-align: middle;
  padding: 5px 15px;
  border-right: 1px solid var(--grey);
  color: var(--black);
}

.bar1Btn:last-of-type {
  border-right: none;
}

.bar2 {
  position: relative;
}

.bar2Btn {
  display: inline-block;
  vertical-align: middle;
  padding: 5px 15px;
  color: var(--black);
  border-bottom: 1px solid transparent;
}

.bar2Btn:hover {
  text-decoration: none;
  border-bottom: 1px solid var(--orange);
  color: var(--orange);
}

.bar2SubMenu {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: var(--lightGrey);
  padding: 30px;
  color: #000;
}

.bar2SubMenu .defaultLink {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
}

.menuBurger {
  font-size: 25px;
}

/* Index */
.latestToggle {
  padding: 6px 15px;
  text-align: center;
  background-color: var(--orange);
  color: #fff;
  width: 100%;
  border: none;
}

.latestNewsWrapper {
  padding: 30px;
  background-image: url(~/assets/img/newsBg.webp);
  color: var(--white);
  position: relative;
}

.latestNewsWrapper:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, .3);
}

.latestNewsWrapper .newsContent {
  position: relative;
  z-index: 1;
}

.sponsorImg {
  margin: 0 20px;
  max-width: 140px;
}

.coorperateImg {
  height: 40px;
  margin: 10px 40px;
}

.homeBigBtn {
  display: block;
  color: var(--white);
  font-weight: bold;
  background-color: transparent;
  padding: 20px;
  border-radius: 8px;
  transition: .3s;
}

.homeBigBtn:hover {
  color: var(--orange);
  background-color: var(--white);
  text-decoration: none;
}

.homeBigBtn .icon {
  font-size: 60px;
}

.homeBigBtn .title {
  margin-top: 15px;
}

.homeBigBtn .desc {
  margin-top: 5px;
  color: var(--orange);
  text-decoration: underline;
}

/* About us */

.aboutUsItem {
  text-align: center;
  padding: 30px 0;
}

.aboutUsIcon {
  width: 60px;
  margin: 0 auto 15px auto;
  display: block;
}

.sponsorIcon {
  height: 70px;
  margin: 0 auto 15px auto;
  display: block;
}

.sponsorIcon.left {
  margin: 0 auto 15px 0;
}

/* news */

.newsBlock {
  background-color: #fff;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 2px 15px -6px #000;
  cursor: pointer;
}

.newsBlock .topImg {
  height: 200px;
  overflow: hidden;
}

.newsBlock .topImg img {
  object-fit: cover;
  object-position: center;
  transition: .5s;
}

.newsBlock:hover .topImg img {
  transform: scale(1.2);
}

.newsBlock .description {
  padding: 20px;
  color: #000;
  font-size: 20px;
  font-weight: 800;
}

.newsBlock .description .currentDate {
  font-size: 13px;
  color: #676767;
  font-weight: 300;
}

.newsModalImg {
  width: 100%;
}

.modalDesc {
  padding: 15px 0;
  color: #000;
}

.modalDesc .title {
  font-size: 24px;
  font-weight: 900;
}

.modalDesc .date {
  font-size: 13px;
  color: #676767;
  font-weight: 300;
}
.modalDesc .content {
  margin-top: 20px;
  font-size: 17px;
  color: #333;
}

.tradingBanner {
  background-image: url(~/assets/img/tradingBanner.jpg);
  background-size: cover;
  background-position: center center;
  color: #fff;
}

.indicesBanner {
  background-image: url(~/assets/img/indicesBanner1.jpg);
  background-size: cover;
  background-position: center center;
  color: #fff;
}

.table-dark {
  background-color: rgba(0,0,0,0.3);
}